option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: catalogo/wsgi:application
    NumProcesses: 4
    NumThreads: 2
    InstanceType: t3.nano

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: catalogo.settings
    PYTHONPATH: /var/app/current:$PYTHONPATH

  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 3

  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7

commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
    ignoreErrors: false

  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    ignoreErrors: false

container_commands:
  01_superuser:
    command: "source /var/app/venv/*/bin/activate && python manage.py shell < /opt/elasticbeanstalk/tasks/bundlelogs.d/01_create_superuser.py"
    leader_only: true
    ignoreErrors: true
