option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /var/app/current/staticfiles
    /media: /var/app/current/media

files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/.keep":
    mode: "000755"
    owner: root
    group: root
    content: |
      # Placeholder for custom scripts
