option_settings:
  aws:elasticbeanstalk:command:
    BatchSize: 100
    BatchSizeType: Percentage
    IgnoreHealthCheck: false

  aws:autoscaling:updatepolicy:
    MaxBatchSize: 1
    MinInstancesInService: 1
    RollingUpdateEnabled: true
    RollingUpdateType: Health
    Timeout: PT30M

  aws:elasticbeanstalk:healthreporting:system:
    SystemType: CloudWatch
    EnhancedHealthAuthEnabled: true

  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
